---
layout: single
title: "Photos"
permalink: /photos/
author_profile: true
excerpt: "Fieldwork & expeditions"
classes: photos
---

{% include base_path %}

<div class="masonry" aria-label="Photo gallery">
  {% assign photos = site.static_files | where_exp: "f", "f.path contains '/images/photos_section/'" %}
  {% for file in photos %}
    {% assign ext = file.extname | downcase %}
    {% if ext == '.jpg' or ext == '.jpeg' or ext == '.png' or ext == '.webp' or ext == '.gif' %}
      <a class="masonry__item" href="{{ file.path }}" target="_blank" rel="noopener">
        <img src="{{ file.path }}" alt="Photo {{ forloop.index }}" loading="lazy" />
      </a>
    {% endif %}
  {% endfor %}
</div>


